{% extends 'cinema/base.html' %}

{% load static %}

{% block title %}Buy Movies on Blu-ray{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand"
     href="{% url 'cinema:index' %}">Cinema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Blu-ray</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item"
             href="#">Best Sellers
          </a>
          <a class="dropdown-item"
             href="#">New Releases
          </a>
          <a class="dropdown-item"
             href="#">Top rated
          </a>
          <a class="dropdown-item"
             href="#">Shop by Genre
          </a>
          <a class="dropdown-item"
             href="#">Shop by Actor
          </a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Kinonews</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item"
             href="{% url 'cinema:news-list' %}">News
          </a>
          <a class="dropdown-item"
             href="#">Premieres
          </a>
          <a class="dropdown-item"
             href="#">Articles
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Movies</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item"
             href="https://www.imdb.com/chart/top/?ref_=nv_mv_250">Top Rated Movies
          </a>
          <a class="dropdown-item"
             href="#">Top Box Office
          </a>
          <a class="dropdown-item"
             href="#">Navigator
          </a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search"
             aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 d-flex">
      <div class="col d-flex mb-4">
        <div class="card p-0">
          <a href="{% url 'cinema:product-detail' 1 %}">
            <img
                src="{% static 'cinema/img/Once_upon_a_Time_in_Hollywood.jpg' %}"
                class="card-img-top" alt="Once upon a Time in Hollywood Picture"
                title="Once upon a Time in Hollywood"></a>
          <div class="card-body pb-2">
            <a
                href="{% url 'cinema:product-detail' 1 %}"><h5
                class="card-title">Once upon a Time in
              Hollywood</h5>
            </a>
            <p class="card-text mb-auto">Leonardo DiCaprio, Brad Pitt, Margot
              Robbie</p>
            <small class="card-text">Blu-ray</small>
            <h5 class="card-text text-danger">$25.00</h5>
          </div>
          <div class="card-footer text-center p-0">
            <button type="button"
                    class="btn btn-primary btn-sm btn-block active btn-success"
                    aria-pressed="true" title="Add to Cart">Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col d-flex mb-4">
        <div class="card p-0">
          <a href="{% url 'cinema:product-detail' 1 %}">
            <img src="{% static 'cinema/img/The_Hateful_Eight.jpg' %}"
                 class="card-img-top" alt="The Hateful Eight Picture"
                 title="The Hateful Eight"></a>
          <div class="card-body pb-2">
            <a href="{% url 'cinema:product-detail' 1 %}"><h5
                class="card-title">The Hateful Eight</h5>
            </a>
            <p class="card-text mb-auto">Samuel L. Jackson, Kurt Russell,
              Jennifer
              Jason Leigh</p>
            <small class="card-text">Blu-ray</small>
            <h5 class="card-text text-danger">$25.00</h5>
          </div>
          <div class="card-footer text-center p-0">
            <button type="button"
                    class="btn btn-primary btn-sm btn-block active btn-success"
                    aria-pressed="true" title="Add to Cart">Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col d-flex mb-4">
        <div class="card p-0">
          <a href="{% url 'cinema:product-detail' 1 %}">
            <img src="{% static 'cinema/img/Django_Unchained.jpg' %}"
                 class="card-img-top" alt="Django Unchained Picture"
                 title="Django Unchained"></a>
          <div class="card-body pb-2">
            <a href="{% url 'cinema:product-detail' 1 %}"><h5
                class="card-title">Django Unchained</h5>
            </a>
            <p class="card-text mb-auto">Jamie Foxx, Christoph Waltz, Leonardo
              DiCaprio</p>
            <small class="card-text">Blu-ray</small>
            <h5 class="card-text text-danger">$25.00</h5>
          </div>
          <div class="card-footer text-center p-0">
            <button type="button"
                    class="btn btn-primary btn-sm btn-block active btn-success"
                    aria-pressed="true" title="Add to Cart">Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col d-flex mb-4">
        <div class="card p-0">
          <a href="{% url 'cinema:product-detail' 1 %}">
            <img src="{% static 'cinema/img/Inglourious_Basterds.jpg' %}"
                 class="card-img-top" alt="Inglourious Basterds Picture"
                 title="Inglourious Basterds"></a>
          <div class="card-body pb-2">
            <a href="{% url 'cinema:product-detail' 1 %}"><h5
                class="card-title">Inglourious Basterds</h5>
            </a>
            <p class="card-text mb-auto">Brad Pitt, Diane Kruger, Eli Roth</p>
            <small class="card-text">Blu-ray</small>
            <h5 class="card-text text-danger">$25.00</h5>
          </div>
          <div class="card-footer text-center p-0">
            <button type="button"
                    class="btn btn-primary btn-sm btn-block active btn-success"
                    aria-pressed="true" title="Add to Cart">Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col d-flex mb-4">
        <div class="card p-0">
          <a href="{% url 'cinema:product-detail' 1 %}">
            <img src="{% static 'cinema/img/Pulp_Fiction.jpg' %}"
                 class="card-img-top" alt="Pulp Fiction Picture"
                 title="Pulp Fiction"></a>
          <div class="card-body pb-2">
            <a href="{% url 'cinema:product-detail' 1 %}"><h5
                class="card-title">Pulp Fiction</h5>
            </a>
            <p class="card-text mb-auto">John Travolta, Uma Thurman, Samuel
              L.
              Jackson</p>
            <small class="card-text">Blu-ray</small>
            <h5 class="card-text text-danger">$25.00</h5>
          </div>
          <div class="card-footer text-center p-0">
            <button type="button"
                    class="btn btn-primary btn-sm btn-block active btn-success"
                    aria-pressed="true" title="Add to Cart">Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</main>
{% endblock %}

{% block footer %}
<footer class="container">
  <p align="center">2020 Cinema.com. All rights reserved.</p>
</footer>
{% endblock %}
