{% extends 'cinema/index.html' %}

{% load static %}

{% block title %}
10th Cambodia International Film Festival Starts on March 13th
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="news-title">
                    <h2>10th Cambodia International Film Festival Starts on
                      March 13th</h2>
                  </div>
                  <div class="news-cats">
                    <ul class="list-unstyled list-inline mb-1">
                      <li class="list-inline-item">
                        <i class="fa fa-folder-o text-danger"></i>
                        <a href="#"><small>AsianMoviePulse</small> </a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-folder-o text-danger"></i>
                        <a href="#"><small>Rhythm Zaveri</small> </a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-folder-o text-danger"></i>
                        <a href="#"><small>12 March 2020</small></a>
                      </li>
                    </ul>
                  </div>
                  <hr>
                  <div class="news-image">
                    <img
                        src="{% static 'cinema/img/10th_Cambodia_International_Film_Festival_full.jpg' %}">
                    <p class="text-muted">CAMBODIA’S LARGEST INTERNATIONAL
                      CULTURAL EVENT CELEBRATES 10 YEARS!</p>
                  </div>
                  <div class="news_content_full text-break d-flex">
                    <p>
                      The 10th CIFF presents
                      film from 44 countries through a selection of 157
                      films, including short and feature films,
                      documentaries, and animation.

                      FROM MARCH 13 to 22nd, CIFF offers 150+ screenings in all
                      major cinemas of Phnom Penh; venues included this year are
                      LEGEND CINEMAS, MAJOR CINEPLEX, BOPHANA CENTER, CHAKTOMUK
                      THEATER, ROSEWOOD HOTEL & THE CIFF VILLAGE @ ECHANGE
                      SQUARE.

                      CIFF IS POSSIBLE THANKS to all partners and industry
                      supporters and we are glad to announce CELLCARD as
                      PRESENTING PARTNER of the Festival.

                      OPENING CEREMONY ON MARCH 13th will host Cellcard’s
                      Ambassador SUZANNA RETH.

                      – STORIES IN CAMBODIA includes fictions related to
                      Cambodia including the recent feature films shot in the
                      Kingdom such as BUOYANCY (multi AWARDED FILM in Festivals
                      around the word) dealing with the topic of human
                      trafficking in Cambodia and Southeast Asia. Also THE
                      CLOCK: SPIRITS AWAKENING by Leak Lyda (box-office hit and
                      Award winning film at the CAMBODIA NATIONAL FILM FESTIVAL
                      2019) is presented by CIFF in its international version.

                      – A SPECIAL CAMBODIAN PROGRAM is the Premiere of
                      BANGKOSOL: A REQUIEM FOR CAMBODIA, the original
                      performance presented by Cambodian Living Arts and filmed
                      by the Bophana Center. World Premiere with performances.

                      – CIFF pays TRIBUTE TO PRINCESS BUPPHA DEVI who
                      passed-away in November 2019. This special program
                      includes film SCREENINGS, a TRIBUTE EVENT and a special
                      ROYAL BALLET EXHIBITION at the Rosewood Hotel.

                      – CIFF is also about connecting with the CAMBODIAN
                      DIASPORA FILMMAKERS and presents films from Khmer
                      communities from USA, France, Canada, Australia, New-
                      Zealand…

                      – Cambodian filmmakers also expose their work on the big
                      screen through the CAMBODIA IN SHORTS programs. This year
                      CIFF presents upcoming female Cambodian directors such as
                      Sophea Kim (GREY FEATHER premiere) and Sreylin Meas
                      (CALIFORNIA DREAM).
                      Also first time filmmakers trained by Bophana center
                      present their work on WOMEN INDIGENOUS VOICES, and CIFF
                      presents the environmental documentary JUNGLE GUARD by
                      Ouch Makara.

                      CIFF VILLAGE by CELLCARD @ EXCHANGE SQUARE Plaza

                      For the first time, CIFF has THE VILLAGE at the Exchange
                      Square Plaza: screenings, events and special performances
                      will be offered free of charge from MARCH 14TH TO 21ST –
                      EVERY NIGHT FROM 5 PM.

                      Giant Film Screenigs open-air
                      Concert plus Meet & Greet with Many Popular Stars in
                      Cambodia like MUSTACHBAND
                      Cultural performances of local and international artists
                      Display of Cinematography Professional Film equipment and
                      technicaldemonstrations
                      Cambodian and International Food and beverages and Fun
                      Meet and Talk with the Directors and the Stars in the film
                      INTERNATIONAL PROGRAM

                      A selection of quality recent INTERNATIONAL FEATURE FILMS
                      from Asia and other continents in the presence of some of
                      the filmmakers. Titles such as PARASITE (South Korea), THE
                      CAVE (Thailand), ONCE UPON A TIME IN HOLLYWOOD (USA) and
                      many more excellent movies.

                      Documentaries will focus on numerous topics including
                      “climate change”, “natural resources”, and “environment”
                      in the extensive BEAUTIFUL PLANET program gathering over
                      20 documentaries.

                      This year CIFF presents an incredible selection of
                      INTERNATIONAL SHORT FILMS including the S-Express programs
                      from ASEAN countries.

                      Kids and families can also enjoy quality and diverse
                      animation shorts in the CARTOONS OF THE WORLD Program.

                      10th CIFF Special programs:

                      WOMEN IN ASIAN CINEMA – Celebrating established and fresh
                      female directors fromthe Asian region.

                      SCARY WORLD – A selection of very scary thrillers and
                      horror films from Asia.

                      COLORFUL WORLD – A selection of films offering different
                      perspectives on genderissues.

                      CIFF COMMITTEE – World Acclaimed filmmakers support CIFF

                      We are very honored that ANGELINA JOLIE PITT, has warmly
                      accepted the Presidency of the CIFF Honorary Committee and
                      attended several events during CIFF since 2016. It is a
                      great encouragement for the new generation of filmmakers.
                      Also, famous Hollywood actress ELODIE YOUNG (Elektra, Gods
                      of Egypts, Girl with Dragon Tatoo…) became Patron of the
                      CIFF since 2018.

                      Oscar nominated and multi Awarded Cambodian-French
                      director and producer RITHY PANH is a founding member of
                      CIFF. He has contributed to the development of film in
                      Cambodia through the creation of the Bophana Center in
                      2006 and the launch of the Cambodia Film Commission.

                      Since 2015, CIFF initiated an Honorary Committee,
                      gathering together film professionals who support the
                      development of the Cambodian film industry. The committee
                      includes Sok Visal (Director, Cambodia), Kalyanee Mam
                      (Director, USA), James Gerrand (Director, Australia),
                      Nicholas Simon (Producer, USA), Caylee So (Director, USA),
                      Davy Chou (Director, France).

                      Check out extensive list of all the Asian films at the
                      Festival below:

                      BUOYANCY (dir. Road Rathjen, Australia)

                      A 14-year-old Cambodian boy leaves home in search of a
                      better life but is sold to a Thai broker and enslaved on a
                      fishing trawler. As fellow slaves are tortured and
                      murdered around him, he realizes his only hope of freedom
                      is to become as violent as his captors.</p>
                  </div>
                  <hr>
                  <div class="news_comments">
                    <h4 class="news_comments_title">COMMENTS
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h6>IMDb Charts</h6>
                    <h5>Top Rated Movies</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="top_rated">
              <table class="table table-sm table-striped">
                <tbody>
                <tr>
                  <td class="align-middle">1.</td>
                  <td class="align-middle"><a href="#">The Shawshank
                    Redemption</a>
                  </td>
                  <td class="align-middle">9.2</td>
                </tr>
                <tr>
                  <td class="align-middle">2.</td>
                  <td class="align-middle"><a href="#">The Godfather</a>
                  </td>
                  <td class="align-middle">9.1</td>
                </tr>
                <tr>
                  <td class="align-middle">3.</td>
                  <td class="align-middle"><a href="#">The Godfather 2</a>
                  </td>
                  <td class="align-middle">9.0</td>
                </tr>
                <tr>
                  <td class="align-middle">4.</td>
                  <td class="align-middle"><a href="#">The Dark Knight</a>
                  </td>
                  <td class="align-middle">9.0</td>
                </tr>
                <tr>
                  <td class="align-middle">5.</td>
                  <td class="align-middle"><a href="#">12 Angry Men</a>
                  </td>
                  <td class="align-middle">8.9</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="list-group mb-3">
              <a href="https://www.imdb.com/chart/top/?ref_=nv_mv_250"
                 class="h5 align-self-center">The whole list</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
