{% extends 'cinema/base.html' %}

{% load get_text_hyperlinks_filter %}

{% block description %}{{ news.title }}{% endblock %}


{% block title %}{{ news.title }}{% endblock %}


{% block main_content %}

<div class="row">
  <div class="col-md-9">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card bg-white">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="news-title text-center">
                  <h1 class="text-body">{{ news.title }}</h1>
                </div>
                <div class="news-image py-2" align="center">
                  <img src="{{ news.news_detail_photo.url }}"
                       title="{{ news.title }}">
                </div>

                {% include "cinema/includes/inc_news_content.html" with content=news.description|get_text_hyperlinks|safe|linebreaks %}

                <hr>
                <div class="news-cats" align="center">

                  {% include "cinema/includes/inc_news_source.html" %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">

  {% include "cinema/includes/inc_top_5_films.html" with title="Top 5 rated IMDb movies" top_5=imdb_top_5 criterion="imdb_top_5" %}
  {% include "cinema/includes/inc_top_5_films.html" with title="Top 5 most expensive movies" top_5=budget_top_5 criterion="budget_top_5" %}
  {% include "cinema/includes/inc_top_5_films.html" with title="Top 5 most USA grossing movies" top_5=usa_gross_top_5 criterion="usa_gross_top_5" %}
  {% include "cinema/includes/inc_top_5_films.html" with title="Top 5 most world grossing movies" top_5=world_gross_top_5 criterion="world_gross_top_5" %}

  </div>
</div>

{% endblock main_content %}
