{% extends 'cinema/base.html' %}

{% load static %}

{% block description %}{{ page_title }}{% endblock description %}


{% block title %}{{ page_title }}{% endblock title %}


{% block main_content %}

<div class="row mt-1 mb-3">
  <div class="col-md-12 text-center">
    <h1>{{ page_title }}</h1>
  </div>
</div>
<div class="row row-cols-md-4">

  {% for product in product_list %}

  <div class="col mb-4">

  {% include "cinema/includes/inc_product_card.html" with title="h5" text="100%" price="h4" %}

  </div>

  {% endfor %}

</div>

{% endblock main_content %}
