<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/insane_app/css/master.css">
    <link rel="shortcut icon" type="image/png" href="{% static '/insane_app/images/favicon.ico' %}"/>
    <title>Insane Site</title>
  </head>

  <body class="bg_darkgray">
    <nav class="navbar navbar-dark bg-black navbar-expand-md">
      <a class="navbar-brand" href="/insane/"> <img src="/static/insane_app/images/logo.jpg" alt="Insane" height="40"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'insane:stories' %}">Story</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'insane:market' %}">Market</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <div class="progress m-3">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100px;" aria-valuenow="{{user.profile.sanity}}" aria-valuemin="0" aria-valuemax="{{user.profile.rank.sanity_cap}}">{{user.profile.sanity}}</div>
            </div>
            <div class="nav-item m-1">
              <a class="nav-link" href="{% url 'insane:logout' %}">Logout</a>
            </div>
          {% else %}
            <div class="nav-item">
              <a class="nav-link" href="{% url 'insane:login' %}">Login</a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-xl-2">
        {% block left_bar %}
        {% endblock %}
      </div>
      <div class="col-xl-8">
        {% block body %}
        {% endblock %}
      </div>
      <div class="col-xl-2">
        <div class="right_bar">
          {% block right_bar %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
  <script src="/static/insane_app/javascript/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4699607bfc.js" crossorigin="anonymous"></script>
  <script src="/static/insane_app/javascript/my_ajax.js"></script>
</html>
