{% extends 'insane_app/base.html' %}

{% block body %}
  <div class="jumbotron">
    {{form.errors}}
    <form class="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Product name</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" class="form-control">
      </div>
      <div class="form-group">
        <label for="categories">Categories</label>
        <select id="categories" name="categories" class="custom-select custom-select-sm" multiple>
          {% for category in category_set %}
            <option value="{{category.id}}">{{category}}</option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" value="Create">
    </form>
  </div>
{% endblock %}
