{% load datetime_filter %}

<table class="table table-responsive table-striped">
  <tbody class="align-top">
  <tr>
    <th scope="col">Year:</th>
    <td>
      <a href="{% url 'cinema:year-film-list' cinema.year %}">{{ cinema.year }}</a>
    </td>
  </tr>
  <tr>
    <th scope="col">Countr{{ countries|pluralize:"y,ies" }}:</th>
    <td>

      {% for country in countries %}

      <a href="{% url 'cinema:country-film-list' country %}"> {{ country }}</a>
      {% if not forloop.last %} |{% endif %}

      {% endfor %}

    </td>
  </tr>
  <tr>
    <th scope="col">Genre{{ genres|pluralize:"s" }}:</th>
    <td>

      {% for genre in genres %}

      <a href="{% url 'cinema:genre-film-list' genre %}"> {{ genre }}</a>
      {% if not forloop.last %} |{% endif %}

      {% endfor %}

    </td>
  </tr>

  {% for profession, persons in film_persons.items %}

  <tr>
    <th scope="col">{{ profession }}{{ persons|pluralize:"s" }}:</th>
    <td>

      {% for person in persons %}

      <a href="{% url 'cinema:movie-person-detail' person.pk %}">
        {{ person.name }}</a>{% if not forloop.last %},{% endif %}

      {% endfor %}

    </td>
  </tr>

  {% endfor %}

  <tr>
    <th scope="col">Runtime:</th>
    <td>
      {{ cinema.run_time|format_datetime }}
    </td>
  </tr>
  </tbody>
</table>
